<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h3> Editar Tarefas: </h3>
            <div class="card">
                <div class="card-body">
                    <form action="/rota_tarefas/tarefas/editar_tarefas" method="POST">
                        {{#if tarefas}}
                        <label for="_id"> ID: </label>
                        <input type="text" id="_id" name="_id" readonly="true" class="form-control" value="{{tarefa._id}}"> 
                        <br>

                        <label for="nome"> Nome: </label>
                        <input type="text" id="nome" name="nome" class="form-control" value="{{tarefa.nome}}"> 
                        <br>

                        <label for="descricao"> Descrição: </label>
                        <input type="text" id="descricao" name="descricao" class="form-control" value="{{tarefa.descricao}}"> 
                        <br>

                        <button type="submit" class="btn btn-success"> Editar tarefa </button>

                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</main>